PORT=5000
MongoDB_URI=mongodb://Jain_DB:<MongoDB_PASSWORD>@ac-vlj6xbh-shard-00-00.1sav9ua.mongodb
JWT_SECRET= SecretKey
BREVO_EMAIL=jaindhairya002@gmail.com
BREVO_API_KEY=<YOUR_BREVO_API_KEY>
NODE_ENV=production
GEMINI_API_KEY=<YOUR_GEMINI_API_KEY>
GEMINI_API_SECRET=<YOUR_GEMINI_API_SECRET>